# Machine learning and Data Analytics

## Algebraic operations

|Expression |Name        | Description                                                |
|:----------|:-----------|:-----------------------------------------------------------|
|x + y      |plus | performs addition                                          |
|x - y      |minus| performs subtraction                                       |
|x * y      |times       | performs multiplication                                    |
|x / y      |divide      | performs division                                          |
|x // y     |floor divide| $x/y$, truncated to an integer                             |
|x ** y     |power       | raises $x$ to the $y$th power                              |
|x % y      |modulus     | equivalent to the remainder if all arguments are positive  |

Addition

In [1]:
40 + 2

42

Subtraction

In [2]:
43 - 1

42

Multiplication

In [3]:
6 * 7

42

Division

In [4]:
84 / 2

42.0

Integer Division

In [5]:
9 // 2

4

Power

In [6]:
3 ** 5

243

Modulus

In [7]:
15 % 4

3

## Variable assignment

In Python we can define variables and assign values to them. These variables can have different types:

|Type       |Name        | Example                                                |
|:----------|:-----------|:-----------------------------------------------------------|
|int   |Integer   | 1,5,9,-143                  |
|float     |Float | 0.356, -1.5, 7.0             |
|str   |String | 'Hello', '§473', '1', 'My name is Alina'               |
|bool     |Boolean  | $\texttt{True}$, $\texttt{False}$               |

In [8]:
x = 20

In [9]:
y = 5

To see the value of a variable we just type the variable name:

In [10]:
x

20

After assigning a value to a variable, we can use the variable:

In [11]:
x + y

25

In [12]:
x * y

100

To change the value of a variable, we can use the following updating operators:


|Expression |Name        | Description                                                |
|:----------|:-----------|:-----------------------------------------------------------|
|x += y      |increment | assigns the value of x + y to the variable x                                        |
|x -= y      |decrement| assigns the value of x - y to the variable x                                      |

Increment:

In [13]:
x += 3

In [14]:
x

23

Decrement:

In [15]:
y -= 2

In [16]:
y

3

## Logical statements

Logical statements can either be $\texttt{True}$ or $\texttt{False}$. In the following table x and y are variables, a and b are logical statements. A logical statement is any statement, that can be clearly classified as either $\texttt{True}$ or $\texttt{False}$. An example of a statement that is $\texttt{True}$ would be $1 + 5 = 6$. An example for a logical statement, that is $\texttt{False}$ would be $1 = 2$.


|Expression |Name        | Description                                                |
|:----------|:-----------|:-----------------------------------------------------------|
|x == y     |equality    | $\texttt{True}$, if x is equal to y, $\texttt{False}$ otherwise                  |
|x != y     |inequality  | $\texttt{True}$, if x is not equal to y, $\texttt{False}$ otherwise              |
|a and b    |logical AND | $\texttt{True}$, if a and b are true, $\texttt{False}$ otherwise                 |
|a or b     |logical OR  | $\texttt{True}$, if a or b are true, $\texttt{False}$ otherwise                  |
|!a         |logcal NOT  | $\texttt{True}$, if a is false, $\texttt{False}$ otherwise                       |

Equality

In [17]:
1 == 1

True

In [18]:
1 == 0

False

Inequality

In [19]:
1 != 0

True

Logical AND

In [20]:
(1 == 1) and (2 == 2)

True

In [21]:
(1 == 0) and (2 == 2)

False

Logical OR

In [22]:
(1 == 0) or (2 == 2)

True

Logical NOT

In [23]:
not (1 == 2)

True

## Lists

List can be used to store more than one element at a time. Lists defined by square brackets and the elements are seperated by commas.

In [24]:
[1, 3, 0, 3, 8, 2, 6, 4]

[1, 3, 0, 3, 8, 2, 6, 4]

We can store lists in variables.

In [2]:
l = [1, 3, 0, 3, 8, 2, 6, 4]

In [3]:
l

[1, 3, 0, 3, 8, 2, 6, 4]

### Selecting list elements

We are selcting list elements with the help of the position the element has in the list. **ATTENTION:** In Python the first position has the index 0.

Access the element at index 0 (first element)

In [4]:
l[0]

1

Access the element at index 1 (second element)

In [5]:
l[1]

3

Access the last element

In [6]:
l[-1]

4

Access the third-last element

In [7]:
l[-3]

2

Access the elements between index 2 and 4

In [8]:
l[2:5]

[0, 3, 8]

### List methods

|Function | Description                                                |
|:----------|:-----------------------------------------------------------|
|len(L)      | Get the length of the list L                 |
|min(L)   | Get the smallest element of a list L           |
|max(L)   |Get the biggest element of a list L                 |
|sum(L)     | Get the sum of all elements of the list L              |
|L.index(e)          | Get the index of element e in the list L |
|L.count(e)   | Count the element e in the list L                |
|L.append(e)     | Add the element e to the end of list L              |
|L.remove(e)          | Remove the element e from the list L  |
|L.reverse() | Reverse the order of the list L |
|L.insert(i,e) | Insert the element e at position i in list L|
|L.sort() | Sort the list L |

len()

In [9]:
len(l)

8

min()

In [10]:
min(l)

0

max()

In [11]:
max(l)

8

sum()

In [12]:
sum(l)

27

index()

In [13]:
l.index(8)

4

count()

In [14]:
l.count(3)

2

append()

In [15]:
l.append(10)
l

[1, 3, 0, 3, 8, 2, 6, 4, 10]

remove()

In [16]:
l.remove(2)

reverse()

In [17]:
l.reverse()

insert()

In [18]:
l.insert(3,100)
l

[10, 4, 6, 100, 8, 3, 0, 3, 1]

sort()

In [19]:
l.sort()

## Lists of lists

We can also define lists of lists. They are handeled in exactly the same way, we just need to be careful, that now each element is also a list, and we can apply the list methods also to these lists.

In [20]:
two_dimensions = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

Access the first list

In [21]:
two_dimensions[0]

[1, 2, 3]

Access the third element of the second list

In [22]:
two_dimensions[1][2]

6

Append the element 8 to the second list.

In [23]:
two_dimensions[1].append(8)
two_dimensions

[[1, 2, 3], [4, 5, 6, 8], [7, 8, 9]]

## Dictionaries

Another method to store data in Python are dictionaries. The elements of a dictionary are pairs of a key and a value, where the key has to be unique.

We can for example store the population of cities in a dictionary. The elements have the name of the city as key and the population as value.

In [24]:
population_k = {
    'malaga': 570,
    'salamanca': 145,
    'pontevedra': 83,
    'barcelona': 1620,
    'logroño': 151
}

In [25]:
population_k

{'malaga': 570,
 'salamanca': 145,
 'pontevedra': 83,
 'barcelona': 1620,
 'logroño': 151}

We can access the value with the help of the key (that's why it needs to be unique).

In [26]:
population_k['malaga']

570

The function items() creates a list, that consists of tuples of the key, value pairs in the dictionary.

In [27]:
population_k.items()

dict_items([('malaga', 570), ('salamanca', 145), ('pontevedra', 83), ('barcelona', 1620), ('logroño', 151)])

The function keys() creates a list, that consists of all the keys in the dictionary.

In [28]:
population_k.keys()

dict_keys(['malaga', 'salamanca', 'pontevedra', 'barcelona', 'logroño'])

The function values() creates a list, that consists all the values in the dictionary.

In [29]:
population_k.values()

dict_values([570, 145, 83, 1620, 151])

## The print function

The print function can be used to print all kinds of different variables. Some examples are given below.

In [30]:
print('Hello world!')

Hello world!

In [31]:
print('Hello world! \nPrint this in a new line.')

Hello world!
Print this in a new line.

In [32]:
a = 10
print(a)

10

In [33]:
print('The variable a has the value', a, '.')

The variable a has the value 10 .

In [34]:
myList = [1,2,3,4,5,6]
print(myList)

[1, 2, 3, 4, 5, 6]

## Loops and Conditions
ATTENTION: Python is working with indentation, so make sure your code is indented correctly, otherwise it'll not work.

### If-Condition

$\texttt{if}$ $\textit{logical statment}$: <br>
>    $\textit{Commandblock}$
    
The commands in the $\textit{Commandblock}$ are only executed if the $\textit{logical statement}$ is true.

In [35]:
a = 1
b = 2

In [36]:
if a == b:
    print('A equals B')

What if we want to do different things, depending on whether the $\textit{logical statement}$ is true or false?

$\texttt{if}$ $\textit{logical statment}$: <br>
>    $\textit{Commandblock 1}$ <br> 

$\texttt{else}$: <br>
>  $\textit{Commandblock 2}$  

If the $\textit{logical statement}$ is true, the commands in the $\textit{Commandblock 1}$ are executed, if the $\textit{logical statement}$ is false, the commands in the $\textit{Commandblock 2}$ are executed.

What if we have more than two cases?

In [37]:
if a == b:
    print("A equals B")
else:
    print("A not equal to B")

A not equal to B

$\texttt{if}$ $\textit{logical statment 1}$: <br>
>    $\textit{Commandblock 1}$ <br> 

$\texttt{elif}$ $\textit{logical statment 2}$: <br>
>    $\textit{Commandblock 2}$ <br> 

$\texttt{elif}$ $\textit{logical statment 3}$: <br>
>    $\textit{Commandblock 3}$ <br> 

$\texttt{else}$: <br>
>  $\textit{Commandblock 4}$  

If the $\textit{logical statement 1}$ is true, the commands in the $\textit{Commandblock 1}$ are executed. <br>
If the $\textit{logical statement 2}$ is true and $\textit{logical statement 1}$ is false, the commands in the $\textit{Commandblock 2}$ are executed. <br>
If the $\textit{logical statement 3}$ is true and $\textit{logical statement 1}$ and $\textit{logical statement 2}$ are false, the commands in the $\textit{Commandblock 3}$ are executed. <br>
If neither of the statments $\textit{logical statement 1}$, $\textit{logical statement 2}$ and $\textit{logical statement 3}$ is true, the commands in the $\textit{Commandblock 4}$.

In [38]:
if a > b:
    print("A > B")
elif a == b:
    print("A = B")
else:
    print("A < B")

A < B

### While-Loop

$\texttt{while}$ $\textit{logical statement}$:
> $\textit{Commandblock}$

 The commands in the \textit{Commandblock} are executed as long as the \textit{logical statement} is true.

In [39]:
s = 0

In [40]:
i = 1

In [41]:
while i <= 100:
    s += i
    i += 1

In [42]:
s

5050

### For-Loop

$\texttt{for}~\textit{var}~\texttt{in}~\textit{sequence}$:
> $\textit{Commandblock}$

The commands in the $\textit{Commandblock}$ are executed for each element in $\textit{sequence}$.

In [43]:
s = 0

In [44]:
for i in [3,5,8]:
    s += i

In [45]:
s

16

## Integer sequences with the range function $\texttt{range([start], end, [increment])}$ 
-Start: Starting vaule, default:0 

-End: End value, **not** included in the sequence 

-Increment: The increment of the sequence, default:1

In [46]:
n = 10

In [47]:
range(n)

range(0, 10)

In [48]:
for i in range(n):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [49]:
for i in range(4,n):
    print(i)

4
5
6
7
8
9

In [50]:
for i in range(1,n,2):
    print(i)

1
3
5
7
9

## Functions

$\texttt{def}~\textit{functionname}~\texttt{(parameters)}$:
> $\textit{Commandblock, compute results, etc.}$ <br>
$\texttt{return}~\textit{results}$

Define the function with the name $\textit{functionname}$ and state the input $\textit{parameters}$ and the $\textit{result}$ you want to return.

In [51]:
def power(x,y):
    res = x**y
    return res

In [52]:
a = 2
b = 4

In [53]:
power(a,b)

16

## Import Python packages

Because we can use Python for so many different applications, it does not make sense, to include ALL existing Python functions into the basic Python version. This is the reason, lots of them are grouped together into packages and can be loaded by importing the package.

There are different options for importing packages in Python. We will demonstrate them by importing the $\textit{statistics}$ package and using the function $\texttt{mean()}$ which is included in that package. The function computes the mean of a given list of numbers.

Option 1:

In [54]:
import statistics
m = statistics.mean([1,2,3,4,5])
m

3

All functions from the $\textit{statistics}$ package are imported and can be called with the prefix $\texttt{statistics.}$.

Option 2:

In [55]:
import statistics as st
m = st.mean([1,2,3,4,5])
m

3

All functions from the $\textit{statistics}$ package are imported and can be called with the prefix $\texttt{st.}$.

Option 3:

In [56]:
from statistics import *
m = mean([1,2,3,4,5])
m

3

All functions from the $\textit{statistics}$ package are imported and can be called directly without a prefix.

Option 4:

In [57]:
from statistics import mean
m = mean([1,2,3,4,5])
m

3

Just the $\texttt{mean}$ function is imported from the $\textit{statistics}$ package and can be called directly without a prefix.

**Note:** Remember that the last two options may save you some typing, but using these options makes your code poorly readable as it is hard to track which packages functions come from (especially if you have longer code that includes the use of several packages).

## Important packages

Below you will find some examples of important packages and functions included in those packages.

### Packages math and numpy provide access to mathematical functions
| Function     | Description| Example        |
|:---------    |:-----------|:-----------------------------------------------------------|
| math.sqrt(x) | square root of $x$ | math.sqrt(4) = 2.0          |
| numpy.cbrt(x)  | cube root of $x$   | np.cbrt(27) = 3         |
| math.hypot(x,y)| hypotenuse ($\sqrt{x^2+y^2}$) of right-angled triangle with other sides of length $x$ and $y$ | x = 3; y = 4; math.hypot(x, y) = 5      |
| math.exp(x)    | natural exponential function at $x$     | math.exp(1) = |
| math.expm1(x)  | accurate $e^{x}-1$ for $x$ near zero    | math.expm1(1) =          |
| math.ldexp(x,n)| $x \times 2^n$ computed efficiently for integer values of $n$ | ldexp(5.0, 2) = 20.0         |
| math.log(x)    | natural logarithm of $x$     | math.log(4) = 1.3862943611198906   |
| math.log(x,b)  | base b logarithm of $x$      | math.log(8,4) = 1.5     |
| math.log2(x)   | base 2 logarithm of $x$      | math.log2(4) = 2.0      |
| math.log10(x)  | base 10 logarithm of $x$     | math.log10(4) = 0.6020599913279624 |
| numpy.log1p(x) | accurate log$(1+x)$ for $x$ near zero     | numpy.log1p(4) =         |
| math.frexp(x)  | mantissa and exponent of $x$ | math.frexp(4) = (0.5,3) |


### Functions related to rounding values:
| Function              | Description                      | Example                          |
|:----------------------|:---------------------------------|:---------------------------------|
|         round(x)      | round $x$ to the nearest integer |         round(1.7) = 2           |
|         round(x, n)   | round $x$ to the nths digit      |         round(math.pi, 3)=3.142  |
|         math.floor(x) | round $x$ towards -Inf           |         math.floor(1.7) = 1      |
|         math.ceil(x)  | round $x$ towards +Inf           |         math.ceil(1.7) = 2       |
|         math.trunc(x) | round $x$ towards zero           |         math.trunc(1.7) = 1      |